*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
}
header{
    background-color: rgba(0, 0, 0, .02);
}
.explore{
    display: inline-block;
}
ul{
    display: flex;
    gap: 40px;
    font-weight: 700;
    list-style: none;
    margin: 14px 0;
}
select, option{
    font-family: 'Barlow', sans-serif;
    font-style:italic;
    font-weight: 700;
    border: none;
    background: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.explore > button{
    border: none;
    background: none;
    font-weight: 700;
    font-style: italic;
}
.explore > a{
    text-decoration: none;
    color: black;
}
.pro{
    background-color: blue;
    color:white;
    padding: 4px 6px;
    border-radius: 5px;
}
.box-shadow{
    box-shadow: 0 1px rgba(0, 0, 0, .05);
    padding: 0px 85px;
}
.box-shadow > div{
    display: inline-block;
    padding: 20px 30px;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}
.box-shadow > div > span{
    font-weight: 700;
    font-size: 18px;
    padding: 0 10px;
}
.design-content{
    height: 18vh; 
    width: 2.9%;
    border: 5px solid #0d0c0c14;
    border-radius: 4px;
    border-right: 0;
    margin: 50px 85px 0px;
    padding: 0;
}
.learning-paths{
    display: flex;
    justify-content: space-between;
    padding: 5px 70px;
}
.learning-paths-content{
    display: flex;
    gap: 1;
    flex-direction: column;
    width: 70%;
    font-size: 24px;
    font-weight: 450;
    padding: 1% 17%;
    line-height: 1.5;
    color: #21212294;
}
.learning-paths-title{
    font-weight: 500;
    font-size: 60px;
    color: #262dff;
    margin-bottom: 3%;
}
.learning-paths-text{
    font-size: 22px;
}
main{
    background-color: rgba(0, 0, 0, .05);
}
.body{
    display: flex;
    padding: 1% 70px;
    flex-direction: column;
    gap: 1%;
}
.body1{
    display: flex;
    padding: 1% 70px;
    flex-direction: column;
    gap: 1%;
}
.box-flex{
    display: flex;
    gap: 7px;
    margin: 0 0 3%;
}
.box{
    background-color: rgba(100, 100, 248, 0.827);
    border-radius: 2.5px;
    width: 14px;
    height: 14px;
    margin-top: 3px;
}
.box1{
    background-color: rgb(255, 119, 119);
    border-radius: 2.5px;
    width: 14px;
    height: 14px;
    margin-top: 3px;
}
.box2{
    background-color: orange;
    border-radius: 2.5px;
    width: 14px;
    height: 14px;
    margin-top: 3px;
}
.box3{
    background-color: orangered;
    border-radius: 2.5px;
    width: 14px;
    height: 14px;
    margin-top: 3px;
}
.div-body{
    background-color: white;
    padding: 30px 30px;
    width: 65%;
    display: flex;
    gap: 5%;
    align-self: center;
    align-items: center;
    border-radius: 15px;
    margin: 5% 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.div-body1{
    background-color: white;
    padding: 30px 30px;
    width: 65%;
    display: flex;
    gap: 5%;
    align-self: center;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);    
}
.div-body2{
    background-color: white;
    padding: 30px 30px;
    width: 65%;
    display: flex;
    gap: 5%;
    align-self: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);    
}
.newbie{
    font-size: 16px;
    font-weight: 700;

}
.newbie-title{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.2px;
    padding-bottom: 4%;
}
.newbie-title:hover{
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: 0.2px;
    padding-bottom: 4%;
}
.img:hover{
    cursor: pointer;
}
.newbies{
    width: 55%;

}
.newbies1{
    width: 55%;

}
.newbies2{
    width: 54.5%;

}
.body-text{
    font-size: 18px;
    font-weight: 420;
    color: #212122a8;
    line-height: 1.5;
}
.footer{
    background-color: white;
}
.subscribe{
    background-color: rgb(165, 59, 59);
    color:white;
    border: none;
    padding: 12px 36px;
    border-radius: 27px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
}
.footer-text > p{
    font-size: 18px;
    font-weight: 450;
    line-height: 1.5;
}
h3{
    color: rgb(102, 33, 168);
    font-size: 26px;
    font-weight: 450;
    text-decoration: none;
    letter-spacing: 0.2px;
}
.footer-input{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.input{
    display: flex;
    gap: 20px;
}
input{
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid rgba(137, 43, 226, 0.173);
    font-size: 18px;
    font-weight: 410;
    width: 38%;
}
.footer-input-text{
    display: flex;
    gap: 10px;
    padding: 0 50px 0 81px;
}
.fm-input{
    display: flex;
    gap: 90px;
}
.fm-text{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.fm-text > ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.fm-text > span{
    font-size: 16px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.95);
    letter-spacing: 2px;
}
ul > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 450;
}   
li > a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.6);
}
.division{
    border-top: 1px solid rgba(0, 0, 0, .05);

}
.footer-bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer-bottom-text > ul{
    display: flex;
    align-items: center;
    padding: 0 100px 0;
    gap: 20px;
}
.footer-bottom-text > p{
    font-size: 16px;
    font-weight: 410;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 50px 0 68px;
}
.footer-bottom-text > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 450;
}